<footer class="text-center text-lg-statr bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
        <div class="mn-5 d-none d-lg-block">
            <span>get connected with us in social networks:</span>
        </div>
        <div>
            <a herf="" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-google"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
            <a herf="" class="me-4 text-reset"><i class="fa fa-github"></i></a>
            
        </div>
    </section>

    <section class="=">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>Lunexa</i></h6>
                    <p>
                        Lunexa.com is a one stop destination for your family's fashion needs.
                        we give you the opportunit to give your wardrobe with the latest collections from our top brand
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6  class="text-uppercase fw-bold mb-4">products</h6>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                </div>
                <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6  class="text-uppercase fw-bold mb-4">useful links</h6>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                    <p><a herf="#!" class="text-reset">menu</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-mb-0 kmb-4">
                    <h6  class="text-uppercase fw-bold mb-4">contact</h6>
                    <p><a herf="#!" class="fa fa-home">hema</a></p>
                    <p><a herf="#!" class="fa fa-enevolpe">hv978763@gmail.com</a></p>
                    <p><a herf="#!" class="fa fa-phone">9360824365</a></p>
                   
                </div>
            </div>
            <div class="text-center p-4">
                &copy; copyright <a class="text-reset fw-bold" href="https://lunexa.in"> lunexa</a>
            </div>
        </div>
    </section>
</footer>