{% extends "shop/layout/main.html" %}
{% block title %}
collections
{% endblock title %}

{% block content %}

   
   <section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">category</h4>
                <hr style="border-color:white;">
                 {% include 'shop/inc/message.html' %}
            </div>
            {% for item in catagory %}
            <div class="col-md-4 col-lg-3 d-flex align-items-stretch">
                <div class="card my-3 w-100">
                <a href="{% url 'collectionview' item.name %}">
                    <img src="{{item.image.url}}" class="card-img-top" alt="Categories">
                    
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </a>
                </div>

            </div>
            </a>
            {% endfor %}
        </div>
    </div>
   </section> 
</div>
{% endblock content %}