{%extends 'shop/layout/main.html' %}
{% block title %}
registration | Lunexa
{% endblock title %}

{% block content %}
{% include 'shop/inc/slider.html'%}
<div class="container" style="margin-top: 70px;">
    <div class="row">
       <h4 class="mb-3"> latest offers</details></h4>
                <hr style="border-color:#b8bfc2;">
        {% for item in products %}
            <div class="col-md-4 col-lg-3 d-flex align-items-stretch">
                <div class="card my-3 w-100">
                <a href="{% url 'product_details' item.category.name item.name %}">
                    <img src="{{ item.product_image.url }}" class="card-img-top" alt="Category Image">

                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ item.name }}</h5>
                        <p class="card-text">
                            <span class="float-start old-price"><s>RS.{{ item.original_price | stringformat:"d" }}</s></span>
                            <span class="float-end new-price">RS.{{ item.selling_price | stringformat:"d" }}</span>
                        </p>
                    </div>
                    </a>
                </div>

            </div>
            </a>
            {% endfor %}
    </div>
    
</div>
{% endblock content %}
  
 